html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  text-align: center;
  background-color: #79756f;
  color: #fff;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  display: block;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 2px 0;
  padding: .6em;
  background-color: #713837;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a:link {
  color: #fff;
  font-family: Arial, sans-serif;
  text-decoration: none;
  padding: .5em .75em;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #f33;
  border-color: #f33;
  border-radius: 5px;
  padding: .5em .75em;
}

.menu li:hover {
  background-color: #f33;
  border-color: #f33;
  border-radius: 5px;
  padding: .5em .75em;
}
