html {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
}

header {

}

h1 {
  background-color: #79756f;
  color: #fff;
  border: 3px solid #595652;
  border-radius: 10px;
}

nav {
  color: #fff;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin: .3em;
  max-width: 20em;
  padding: 1em;
  background-color: #713837;
  text-align: center;
}

.menu a:hover {
  background-color: #f33;
  color: #fff;
}


header nav:last-of-type a:not(.current)
