html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin:auto;
}

header {
  text-align: center;
  background-color: #79756f;
  color: #fff;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: "Bevan", serif;
  margin: .3em;
}

.menu li {
  display: inline-block;
  margin: .3em;
  padding: .75em;
  background-color: #713837;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  list-style-type: none;
}

a:link {
  color: #fff;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  padding: .75em;
  border-radius: 10px;
}

.menu a:hover {
  background-color: #f33;
  color: #fff;
  border-radius: 10px;
}
